{% extends 'base.html' %}
{%block title%} About Us {% endblock %}
{%block content %}
 	        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.html">
                                <img src="static/img/logo4.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End --> 
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
		<!-- ABOUT US Start-->
        
        <div class="container-fluid">
            <div class="container">
            <div class="main-content">
                <h1 class="text-center">ABOUT</h1>
                <div class="about-heading">
                    Catering to your requirements. handling your needs.
                </div><br>
                </div class="about-content"><em>
                    Our store is more than just another average online retailer.
                    We sell not only top quality products, but give our customers a positive online shopping experience.
                    Forget about struggling to do everything at once: taking care of the family, running your business, walking your dog, cleaning the house, doing the shopping, etc.
                    Purchase the goods in a few clicks or taps, depending on the device you use to access the Internet.
                </em></div><br><br>
                
            </div>
            </div>
        </div>
        <div class="feature">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-6 feature-col"  style="padding:20px">
                        <div class="feature-content">
                            <i class="fa fa-search"></i>
                            <h2>For Convinience of Choice</h2>
                            <p><em> We think about the convenience of your choice.
                                 Our products are supplied with star rating that should help hesitant buyers to take a decision.
                                 What’s more, you can search our site if you know exactly what you are looking for</em></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-car"></i>
                            <h2>Nationwide Delivery</h2>
                            <p><em>We deliver our goods worldwide. No matter where you live, 
                                your order will be shipped in time and delivered right to your door or to any other location you have stated.
                                The packages are handled with utmost care. </em></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fas fa-thumbs-up"></i>
                            <h2>Highest Quality of Product</h2>
                            <p><em>We guarantee the highest quality of the products we sell.
                                Several decades of successful operation and millions of happy customers let us feel certain about that.
                                Besides, all items we sell pass thorough quality control.</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ABOUT US End-->
{% endblock content %}